Programming for DA Tasks Requirements:

1.	Programming: The project must be explored programmatically: this means that you must implement suitable Python tools (code and/or libraries) to complete the analysis required. All of this is to be implemented in a Jupyter Notebook. [0-20]
2.	Data structures: You are required to gather and process data that has been stored in at least two distinct formats. For example, this can be data in a CSV file, from a MySQL database or from a web API in JSON format. [0-20]
3.	Documentation: The project documentation must include sound justifications and explanation of your code choices. Code quality standards should also be applied. [0-20]
4.	Testing & Optimisation: You are required to document and evaluate a testing and optimisation strategy for your analysis. As part of this, you may want to plan and document how you ensured your code is doing what it is meant to, as well as ensuring that the code is making good use of your resources (eg computing, time etc). Note any trade-offs that you've made in these areas. [0-20]
5.	Data manipulation: For each of the different data sources, compare and contrast at least two relevant libraries and techniques for a) processing and b) aggregating the respective data, in order to justify your chosen libraries/techniques. [0-20]

In this part, which is the first stage of the project, I want to make datasets useful. In order to achieve this, my aim is to examine two different datasets separately and apply the following steps one by one.
- Load raw data
- Check null values
- Update columns so as they have a useful format
- Eliminate columns so as to have only required ones
- Splitting dataset according to statistic types
- Reediting columns according to their specific types
- Aggregating splitted parts /or/ some columns 
- Export the structured dataset

I will take these steps with two different approaches and compare these approaches to decide which one is more efficient.

Also, the third and fourth items in the requirements, namely ensuring the code quality and standards, testing and optimization of the code will be implemented at every step throughout the whole project.

In [1]:
# IMPORTING LIBRARIES
import pandas as pd # first library 
import numpy as np # second library

Data Engineering with Pandas

In [2]:
# LOAD RAW DATA 1: Ireland Public Employment Data (RAW) (CSV)
raw_1_pd = pd.read_csv('raw_data/ireland_public_raw.csv')

In [3]:
# Check null values
raw_1_pd.isnull().sum()

STATISTIC          0
Statistic Label    0
TLIST(Q1)          0
Quarter            0
C02741V03309       0
Sub Sector         0
UNIT               0
VALUE              0
dtype: int64

There is not any null values in the dataset

In [4]:
# Update columns so as they have a useful format
## Quarter column should be in a datetime format
raw_1_pd.Quarter = pd.to_datetime(raw_1_pd.Quarter)
raw_1_pd['Quarter'] = raw_1_pd['Quarter'].dt.to_period('Q')
## Sub Sector column is categorized and labeled in another column, but I will use directly named columns and its title should be one-worded
raw_1_pd['sector'] = raw_1_pd['Sub Sector']

In [5]:
# Eliminate columns so as to have only required ones
raw_1_pd = raw_1_pd.drop(columns=['STATISTIC','TLIST(Q1)','C02741V03309','Sub Sector'])
raw_1_pd = raw_1_pd[['Statistic Label', 'Quarter','UNIT','sector','VALUE']]
raw_1_pd.head()

  Statistic Label Quarter    UNIT           sector     VALUE
0      Employment  2008Q1  Number    Civil service   41700.0
1      Employment  2008Q1  Number          Defence   11200.0
2      Employment  2008Q1  Number   Garda Siochana   14900.0
3      Employment  2008Q1  Number        Education  116100.0
4      Employment  2008Q1  Number  Regional bodies   38900.0

In [6]:
# Splitting dataset according to statistic types
## TAG: Empleyment
employment_1_pd = raw_1_pd.loc[raw_1_pd['Statistic Label'] == 'Employment']
employment_1_pd = employment_1_pd.rename(columns={'VALUE':'Employed'})
employment_1_pd = employment_1_pd.drop(columns=['Statistic Label','UNIT'])
## TAG: Average Hourly Earnings
avgHrEarns_1_pd = raw_1_pd.loc[raw_1_pd['Statistic Label'] == 'Average Hourly Earnings']
avgHrEarns_1_pd = avgHrEarns_1_pd.rename(columns={'VALUE':'avgHrEarns'})
avgHrEarns_1_pd = avgHrEarns_1_pd.drop(columns=['Statistic Label','UNIT'])
## TAG: Average Hourly Earnings excluding Irregular Earnings
avgHrEarnsExIE_1_pd = raw_1_pd.loc[raw_1_pd['Statistic Label'] == 'Average Hourly Earnings excluding Irregular Earnings']
avgHrEarnsExIE_1_pd = avgHrEarnsExIE_1_pd.rename(columns={'VALUE':'avgHrEarnsExIE'})
avgHrEarnsExIE_1_pd = avgHrEarnsExIE_1_pd.drop(columns=['Statistic Label','UNIT'])
## TAG: Average hourly irregular earnings
avgHrIE_1_pd = raw_1_pd.loc[raw_1_pd['Statistic Label'] == 'Average hourly irregular earnings']
avgHrIE_1_pd = avgHrIE_1_pd.rename(columns={'VALUE':'avgHrIE'})
avgHrIE_1_pd = avgHrIE_1_pd.drop(columns=['Statistic Label','UNIT'])
## TAG: Average hourly other labour costs 
avgHrOthLC_1_pd = raw_1_pd.loc[raw_1_pd['Statistic Label'] == 'Average hourly other labour costs']
avgHrOthLC_1_pd = avgHrOthLC_1_pd.rename(columns={'VALUE':'avgHrOthLC'})
avgHrOthLC_1_pd = avgHrOthLC_1_pd.drop(columns=['Statistic Label','UNIT'])
## TAG: Average hourly total labour costs
avgHrTotLC_1_pd = raw_1_pd.loc[raw_1_pd['Statistic Label'] == 'Average hourly total labour costs']
avgHrTotLC_1_pd = avgHrTotLC_1_pd.rename(columns={'VALUE':'avgHrTotLC'})
avgHrTotLC_1_pd = avgHrTotLC_1_pd.drop(columns=['Statistic Label','UNIT'])
## TAG: Average Weekly Earnings
avgWkEarns_1_pd = raw_1_pd.loc[raw_1_pd['Statistic Label'] == 'Average Weekly Earnings']
avgWkEarns_1_pd = avgWkEarns_1_pd.rename(columns={'VALUE':'avgWkEarns'})
avgWkEarns_1_pd = avgWkEarns_1_pd.drop(columns=['Statistic Label','UNIT'])
## TAG: Average Weekly Paid Hours
avgWkPH_1_pd = raw_1_pd.loc[raw_1_pd['Statistic Label'] == 'Average Weekly Paid Hours']
avgWkPH_1_pd = avgWkPH_1_pd.rename(columns={'VALUE':'avgWkPH'})
avgWkPH_1_pd = avgWkPH_1_pd.drop(columns=['Statistic Label','UNIT'])

In [7]:
employment_1_pd.to_csv('structured_data/employment.csv', index=False)
avgHrEarns_1_pd.to_csv('structured_data/avgHrEarns_1_pd.csv', index=False)
avgHrEarnsExIE_1_pd.to_csv('structured_data/avgHrEarnsExIE_1_pd.csv', index=False)
avgHrIE_1_pd.to_csv('structured_data/avgHrIE_1_pd.csv', index=False)
avgHrOthLC_1_pd.to_csv('structured_data/avgHrOthLC_1_pd.csv', index=False)
avgHrTotLC_1_pd.to_csv('structured_data/avgHrTotLC_1_pd.csv', index=False)
avgWkEarns_1_pd.to_csv('structured_data/avgWkEarns_1_pd.csv', index=False)
avgWkPH_1_pd.to_csv('structured_data/avgWkPH_1_pd.csv', index=False)

In [22]:
# LOAD RAW DATA 2: Public Employment Data of OECD Countries (RAW) (JSON)
raw_2_pd = pd.read_json('raw_data/oecd_countries.json')
raw_2_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2387 entries, 0 to 2386
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   COU                    2387 non-null   object
 1   Country                2387 non-null   object
 2   IND                    2387 non-null   object
 3   Indicator              2387 non-null   object
 4   YEAR                   2387 non-null   int64
 5   Year                   2387 non-null   int64
 6   Unit Code              2387 non-null   object
 7   Unit                   2387 non-null   object
 8   PowerCode Code         2387 non-null   int64
 9   PowerCode              2387 non-null   object
 10  Reference Period Code  2387 non-null   object
 11  Reference Period       2387 non-null   object
 12  Value                  2387 non-null   float64
 13  Flag Codes             2387 non-null   object
 14  Flags                  2387 non-null   object
dtypes: float64(1), int64(3), object(11)
memory usage: 279.9+ KB

In [23]:
# In the dataset, we have different statistical types
raw_2_pd['Indicator'].unique()

array(['Gender equality in public sector employment, percentage of women',
       'Gender equality in total employment, percentage of women',
       'Gender equality in parliament, percentage of women',
       'Gender equality in cabinet ministerial positions, percentage of women',
       'Share of members of parliament aged 40 and under',
       'Young people as a share of the voting-age population',
       'Average age of cabinet members',
       'Employment in general government as a percentage of total employment',
       'Employment in general government',
       'Gender equality in senior management positions in national administrations, percentage of women',
       'Gender equality in professional judges, percentage of women',
       'Gender equality in in courts of first instance, percentage of women',
       'Gender equality in appeal courts, percentage of women',
       'Gender equality in supreme courts, percentage of women'],
      dtype=object)

In [24]:
# Check null values
raw_2_pd.isnull().sum()

COU                      0
Country                  0
IND                      0
Indicator                0
YEAR                     0
Year                     0
Unit Code                0
Unit                     0
PowerCode Code           0
PowerCode                0
Reference Period Code    0
Reference Period         0
Value                    0
Flag Codes               0
Flags                    0
dtype: int64

In [25]:
# Eliminate columns so as to have only required ones
raw_2_pd = raw_2_pd.drop(columns = {'COU','IND','YEAR','Unit Code','Unit','PowerCode Code','PowerCode','Reference Period Code','Reference Period','Flag Codes','Flags'})
raw_2_pd.head()

     Country                                          Indicator  Year  Value
0  Australia  Gender equality in public sector employment, p...  2011  61.12
1  Australia  Gender equality in public sector employment, p...  2020  63.76
2  Australia  Gender equality in total employment, percentag...  2011  45.20
3  Australia  Gender equality in total employment, percentag...  2020  48.82
4  Australia  Gender equality in parliament, percentage of w...  2002  25.30

In [26]:
# LOAD RAW DATA 3: Population Data of Countries (RAW) (CSV)
population = pd.read_csv('raw_data/population_by_country_2020.csv')

We want differenet variables in the dataset, that's why we enhance the dataset also..

In [27]:
raw_2_pd = raw_2_pd.merge(population, on='Country', how='left')
raw_2_pd = raw_2_pd[['Country','Indicator','Year','Population (2020)','Yearly Change','Net Change','Density (P/Km²)','Land Area (Km²)','Migrants (net)','Fert. Rate','Med. Age','Urban Pop %','World Share','Value']]
raw_2_pd.head()

,Country,Indicator,Year,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,Value
0,Australia,"Gender equality in public sector employment, p...",2011,25550683.0,1.18%,296686.0,3.0,7682300.0,158246.0,1.8,38,86%,0.33%,61.12
1,Australia,"Gender equality in public sector employment, p...",2020,25550683.0,1.18%,296686.0,3.0,7682300.0,158246.0,1.8,38,86%,0.33%,63.76
2,Australia,"Gender equality in total employment, percentag...",2011,25550683.0,1.18%,296686.0,3.0,7682300.0,158246.0,1.8,38,86%,0.33%,45.20
3,Australia,"Gender equality in total employment, percentag...",2020,25550683.0,1.18%,296686.0,3.0,7682300.0,158246.0,1.8,38,86%,0.33%,48.82
4,Australia,"Gender equality in parliament, percentage of w...",2002,25550683.0,1.18%,296686.0,3.0,7682300.0,158246.0,1.8,38,86%,0.33%,25.30

In [30]:
# we will use two of these statistics: 
# 1- 'Gender equality in public sector employment, percentage of women' 
# 2- 'Employment in general government as a percentage of total employment' 
gender_public_pd = raw_2_pd.loc[raw_2_pd['Indicator']=='Gender equality in public sector employment, percentage of women']
employ_public_pd = raw_2_pd.loc[raw_2_pd['Indicator']=='Employment in general government as a percentage of total employment']

In [31]:
gender_public_pd.to_csv('structured_data/gender_public_pd.csv', index=False)
employ_public_pd.to_csv('structured_data/employ_public_pd.csv', index=False)

Data Engineering with Numpy

In [32]:
# Importing csv module
import csv

with open("raw_data/ireland_public_raw.csv", 'r') as x:
    sample_data = list(csv.reader(x, delimiter=","))
raw_1_np = np.array(sample_data)
display(raw_1_np)

array([['ï»¿"STATISTIC"', 'Statistic Label', 'TLIST(Q1)', ...,
        'Sub Sector', 'UNIT', 'VALUE'],
       ['EHQ10C01', 'Employment', '20081', ..., 'Civil service',
        'Number', '41700'],
       ['EHQ10C01', 'Employment', '20081', ..., 'Defence', 'Number',
        '11200'],
       ...,
       ['EHQ10C08', 'Average hourly total labour costs', '20231', ...,
        'Non commercial Semi-State companies', 'Euro', '36.47'],
       ['EHQ10C08', 'Average hourly total labour costs', '20231', ...,
        'Total Public Sector including Semi State bodies', 'Euro',
        '37.64'],
       ['EHQ10C08', 'Average hourly total labour costs', '20231', ...,
        'Total Public Sector excluding Semi State bodies', 'Euro',
        '37.68']], dtype='<U52')

In [33]:
"""
for i in range(len(raw_1_np)):
    print(np.isnan(raw_1_np[i])) 
"""
# Checking null values with numpy is a problematic because both the complexity of the process and the capability of the library

'\nfor i in range(len(raw_1_np)):\n    print(np.isnan(raw_1_np[i])) \n'

In [34]:
## When we want to process the whole data, there are some difficulties about using numpy. With numpy, we can edit rows distinctly, while this logic gives us a more specific capability to reach and manipulate data, we cannot cope with the whole dataset at once.
# Update columns so as they have a useful format
# Eliminate columns so as to have only required ones
# Splitting dataset according to statistic types